.flex-container {
    display: flex;
    justify-content: center;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

div.header {
    color: rgb(8, 95, 98);
    font-size: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
}

h1 {
    color: rgb(137, 16, 148);
    background-color: rgba(39, 39, 88, 0.253);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 0px;
    padding: 0;    
}

h2 {
    color: rgb(168, 168, 187);
    background-color: rgba(39, 39, 88, 0.678);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* why seems this code not to have any importance? If I delete it, nothing changes.

    nav {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    position: sticky;
}
*/

nav {
    display: flex;
    justify-content: space-between;
}


P {
    font-size: 2em;
    color: rgb(168, 168, 187);
    text-align: center;
}




img {
    max-width: 100%;
    height: auto;  
}

table, th, td {
  border: 1px solid rgb(216, 197, 197);
  color: rgb(255, 255, 255);
}



/* unvisited link */
a:link {
color: rgb(12, 12, 94);
}

/* visited link */
a:visited {
color: rgba(21, 89, 94, 0.609);
}

/* mouse over link */
a:hover {
color: rgb(233, 16, 52);
}

/* selected link */
a:active {
color: rgb(1, 255, 242);
}


img {
    object-fit: cover;
}



footer {
    display: flex;
    justify-content: center;
}






